<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>
    <h1>This is my work page !</h1>
     <div>
        <ul>
            <% for( let i of contactList){ %>
                    <li>
                      <p>  <%=i.name %>  </p>
                      <p>  <%=i.phone %>  </p>
                    </li>
           <% }  %>
        </ul>
     </div>
     <form action='/create-contact' method="post">

      <input type="text" name="name" placeholder="Enter the Name" required>
      <input type="number" name="number" placeholder="Enter the PhoneNo." required>
      <button type="submit">Add Contact</button>
     </form>

     <form action="/delete" method="post">
      <button type="submit">Detete</button>
     </form>

    
</body>
</html>